@import url("/public/content/fonts/iransans/css/style.css");
@import "tailwindcss";

.ql-editor {
    font-family: IRANSans, sans-serif !important;
    direction: rtl;
    text-align: right;
}

.ql-container {
    font-family: IRANSans, sans-serif !important;
}

.ql-toolbar {
    direction: rtl;
    text-align: right;
}

.ql-editor.ql-blank::before {
    font-family: IRANSans, sans-serif !important;
    right: 2 !important;
    left: auto !important;
    text-align: right !important;
    direction: rtl !important;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px var(--background) inset !important;
    box-shadow: 0 0 0px 1000px var(--background) inset !important;
    -webkit-text-fill-color: var(--text) !important;
    transition: background-color 5000s ease-in-out 0s;
}

/* برای حالت دارک */
.dark input:-webkit-autofill,
.dark textarea:-webkit-autofill,
.dark select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px var(--background) inset !important;
    box-shadow: 0 0 0px 1000px var(--background) inset !important;
    -webkit-text-fill-color: var(--text) !important;
}
@layer utilities {
    .no-autofill {
        -webkit-box-shadow: 0 0 0px 1000px var(--muted) transparent 50 inset !important;
        -webkit-text-fill-color: var(--text) !important;
    }
}


@theme {
    --color-background: var(--background);
    --color-text: var(--text);
    --color-muted: var(--muted);
    --color-accent: var(--accent);
    --color-border: var(--border);
    --color-liteText: var(--liteText);
    --color-fixedDark: var(--fixedDark);
}

:root{
    /* Light theme */
    --background: #ffffff;
    --text: #1A3D63;
    --liteText: #f3f9fc;
    --muted: #9fb2b9;
    --accent: #F5A201;
    --border: #b5b5b5;
    --fixedDark: #0A1931;
}


.dark{
    --background: #0A1931;
    --text: #e5eef4;
    --liteText: #e5eef4;
    --muted: #7c909e;
    --accent: #f4b01b;
    --border: #848484FF;
    --fixedDark: #0A1931;
}

