@import url("/public/content/fonts/iransans/css/style.css");
@import "tailwindcss";


@theme {
    --color-background: var(--background);
    --color-text: var(--text);
    --color-muted: var(--muted);
    --color-accent: var(--accent);
    --color-border: var(--border);
    --color-liteText: var(--liteText);
    --color-fixedDark: var(--fixedDark);
}

:root{
    /* Light theme */
    --background: #f3f9fc;
    --text: #1A3D63;
    --liteText: #f3f9fc;
    --muted: #9fb2b9;
    --accent: #F5A201;
    --border: #b5b5b5;
    --fixedDark: #0A1931;
}


.dark{
    --background: #0A1931;
    --text: #e5eef4;
    --liteText: #e5eef4;
    --muted: #7c909e;
    --accent: #f4b01b;
    --border: #848484FF;
    --fixedDark: #0A1931;
}

